<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ccb.movie.mapper.MovieMapper">
    <select id="moviePage" resultType="com.ccb.movie.bean.movie.Movie">
        select
        *
        from
        movie
        where 1=1
        <if test="movie.name!=null">
            and name=#{movie.name}
        </if>
        <if test="movie.id!=null">
            and id=#{movie.id}
        </if>
        <if test="movie.coverUrl!=null">
            and cover_url=#{movie.coverUrl}
        </if>
        limit #{pageStart},#{pageSize}
    </select>

    <select id="count" resultType="long">
        select count(*) from movie where 1=1
        <if test="movie.name!=null">
            and name=#{movie.name}
        </if>
        <if test="movie.id!=null">
            and id=#{movie.id}
        </if>
        <if test="movie.coverUrl!=null">
            and cover_url=#{movie.coverUrl}
        </if>
    </select>
</mapper>